body{
    background-color: rgb(7, 240, 240);
}

a:hover{
    text-decoration: none;
    border: 2px solid rgb(247, 247, 4);
    padding: 5px;
    border-radius: 50px;
    color: blue;
    background-color: black;
    font-family: sans-serif;
    box-shadow: yellow;

}

.class-heading:hover{
    color: blue;
    text-decoration: underline;
    
}